.navbar {
    margin-bottom: 20px;
    border-radius: 0;

  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: black;
    padding: 25px;
    font-size:xx-large;
    letter-spacing: 0.5em;
  }
i:hover {
  text-decoration: none;
  color: black;
}
a.btn {
  margin-bottom: 20px;
}
